/*
@font-face {
  font-family: 'Comfortaa-SemiBold';
  src: local('Comfortaa-SemiBold'), url('fonts/Comfortaa-SemiBold.tff') format('truetype');
}

@font-face {
  font-family: 'Comfortaa-Regular';
  src: local('Comfortaa-Regular'), url('fonts/Comfortaa-Regular.tff') format('truetype');
} */


