.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* NOTE: custom styles */

/* https://www.mixfont.com/shadows */
.main-header {
  color: #EBA89F;
  font-size: 4em;
  font-family: 'Fugaz One';
  text-shadow: -.030em .030em #EBA89F, -.08em .08em #2E2B32;
  /* text-shadow: -.2em .2em #242B2E; */

}
.secondary-header {
  /* background: #FFF6E6; */
  font-size: 2em;

  color: #F77683;
  font-family: Comfortaa;
  text-shadow: -.030em .030em #FFF6E6, -.08em .08em #E7DCD7;
}

.result-image-container {
        align-content: center;
        background-color: #495285;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 6em;
      }
      .result-image-container > span {
        opacity: 0.4;
        text-align: center;
      }
